body{
  background-color: snow;
  /* background-image: url(g6.jpg); */
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  /* max-width: 70%; */
  /* margin-left: 15%; */
  /* margin-right: 15%; */
  /* max-height: 100%; */
  margin: 0;


}
.container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: stretch;

  /* justify-content: center; */
  /* background-color: rgb(220, 220, 220); */
  /* border: 2px solid grey; */
  /* border-radius: 10px; */
  /* padding: 10px; */
  /* box-shadow: 0px 0px 10px rgb(150,150,150); */
}

html, body, #root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* align-items: center; */
}

body, #root{
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: 0px 0px 15px black;
  border-radius: 5px;
}

#root, #left-arm, #right-arm, header, footer{
  border: solid 1px black;
  border-radius: 5px;
  padding: 10px;
  margin: 2px;
  background-color: lightgray;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* min-height: 1000px; */
  /* margin-top: 65px; */
}

#chester {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  /* align-items: stretch; */
}



#torso{
  flex-grow: 1;
  padding:15px;
}

#left-arm {
  display: flex;
  flex-wrap: wrap;
  /* padding: 10px; */
  border: solid 2px black;
  /* border-radius: 5px; */
  flex-basis: 150px;
  background-color: red;
  align-content: flex-start;
  justify-content: center;
  
}

#right-arm{
display: flex;
flex-wrap: wrap;
background-color: cyan;
flex-basis: 150px;
padding: 10px;
}

footer{
  background-color: lawngreen;
}

header{
  display: flex;
  height: 200px;
  background-image: url(header.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  
  font-size: 24px;
  font-family: Arial;
  padding: 10px;
  justify-content: flex-start;
  background-color: lightgray;
  justify-content: center;
}

.menu{
  display: flex;
  justify-content: stretch;
 
  
  position: fixed;
  background-color: rgb(223, 237, 241);
  border: 2px solid red;
  
}

ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  /* margin: 5px; */
  padding: 5px;
  overflow: hidden;
  background-color: rgb(107, 107, 107);
  /* position: fixed; */
  align-items: flex-start;
  justify-content: stretch;
  top: 0;
  width: 100%;
  border-radius: 10px;
  border: solid black 1px;
  box-shadow: 0px 0px 10px black;
}

li{
 
}

li a{
  display: flex;
  color: white;
  /* text-align: center; */
  padding: 14px 16px;
  text-decoration: none;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;


  
/* border: solid 2px black; */
}

li a:hover{
  background-color: darkblue;
}

li:last-child{
  /* border-right: 1px solid #bbb; */
}

.active{
  background-color: darkkhaki;
  /* float: left; */
  /* display: inline-block; */
  /* text-align: center; */
  border: 1px solid #bbb;
}